.sidebar {
  height: 100vh;
  padding: 20px;
  background: #eee;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ddd;
    padding: 10px;
    color: rgb(13, 13, 13);
    border-radius: 4px;
  }
}
